* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

div.page {
    -webkit-transform: translate3d(0,0,0);
}


/*SOL CSS DEFINICE*/

.center-wrapper {
    text-align: center !important;
}

    .center-wrapper * {
        margin: auto auto !important;
    }

.sol-sidebar .ui-panel-inner {
    padding-top: 0 !important;
}

.sol-subheader {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 6px;
    font-size: smaller;
    font-weight: normal;
}

/* column toggle nefungovalo - proto skryjeme */
a[href='#dochazka-table-popup'] {
    display: none;
}

/* column toggle nefungovalo - proto skryjeme */
a[href='#hodnoceni-table-popup'] {
    display: none;
}

input[type=number]:invalid {
     /*background-color: red !important;*/
}


/*.error {
    color:red;
}*/

/*label.error {
    float: none; 
    color: red; 
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    display: block;
    margin-left: 22%;
}*/


label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}
 
@media screen and (orientation: portrait){
    label.error {
         margin-left: 0; display: block;
    }
}
 
@media screen and (orientation: landscape){
    label.error { 
        display: inline-block; 
        /*margin-left: 22%;*/ 
    }
}
 
em { color: red; font-weight: bold; padding-right: .25em; } 

/*
.ng-pristine { border:1px solid Gold; }
.ng-dirty.ng-valid { border:1px solid Green; }
.ng-dirty.ng-valid ~ span.ok { color:green; display:inline; }
.ng-dirty.ng-invalid { border:1px solid Red; }
.ng-dirty.ng-invalid ~ span.ko { color:red; display:inline; }
*/



/*.ui-btn-active 
{ 
    color: #2F3E46 !important; 
    background: none !important; 
    background-color: #eee !important; 
    text-shadow: 0 1px 0 #ffffff ;
    border: 0;
}*/

* {
    text-shadow: 0 0 0 !important;
}

.ui-panel-wrapper {
  background-color: #ECECEC;
}

.ui-header, .ui-title {
    background-color: #00b3c8 !important;
}

.sol-subheader, .ui-title {
    color: #ffffff;
}


.ui-panel-wrapper {
    background-color: #ddf8f8 !important; /*#ccffFF !important;    */
}

.ui-content {
    
}
